.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  position: relative;
}

.time {
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-size: 2rem;
  opacity: 0.6;
}

.action {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}